{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}








<div>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ forms.as_p }}
        <button>Login</button>
    </form>
</div>

{% endblock content %}
