{% extends "base.html" %}

{% block title %}
{% endblock title %}
{% block content %}






<div>
    <h1>SignUp</h1>
    <form method="POST">
        {% csrf_token %}
        {{ forms.as_p }}
        <button>SignUp</button>
    </form>
</div>

{% endblock content %}
